In [1]:
# convert to int:
 #1
num1=12.45
num1=int(num1)
print(num1)

12

In [2]:
#2
num2="12.45"
num2=float(num2)
num2=int(num2)
print(num2)

12

In [3]:
#3
flag1=True
flag1=int(True)
print(flag1)

1

In [5]:
#5
num3="0123"
num3=int(num3)
print(num3)

123

In [6]:
# convert to float: 
#1
num4=10
num4=float(num4)
print(num4)

10.0

In [7]:
#2
num5=4.
num5=float(num5)
print(num5)

4.0

In [8]:
#3
num6="4.7"
num6=float(num6)
print(num6)

4.7

In [9]:
#4
num7="51"
num7=float(num7)
print(num7)

51.0

In [11]:
# Convert to bool
flag3=False
flag3=bool(flag3)
print(flag3)

False

In [12]:
#2
flag4="False"
flag4=bool(flag4)
print(flag4)

True

In [7]:
# write code here:
str=input("Insert Your answer:")
print(str=="yes" or str=="no")

True

In [10]:
# write code here: 
str=input("Insert Your answer:")
print(str!="" and str!=" ")

True

In [11]:
# write code here: 
celsius=float(input("Insert Temperature:"))
fahrenheit=(celsius*1.8)+32
print(fahrenheit)

73.4

In [12]:
# Section 1:  
num1,num2,num3=17,1.8,28
print(num1,num2,num3)

17 1.8 28

In [ ]:
num4,num5=45,12
print(num4,num5)

In [15]:
num6,num7,num8=200,300,400
print(num6,num7,num8)

200 300 400

In [16]:
name,score,passed="Sara",19,True
print(name,score,passed)

Sara 19 True

In [18]:
# Section 2:
num1=20
num2=30
num1,num2=num2,num1   #num1,num2=30,20
print(num1,num2)

30 20

In [19]:
# Write here:
letter=input("Just Insert a letter: ")
v1,v2,v3,v4,v5="a","e","i","o","u"
#print(v1,v2,v3,v4,v5)
if letter==v1 or letter==v2 or letter==v3 or letter==v4 or letter==v5:
    print("Vowel")
else:
    print("Consonant")

Consonant

In [28]:
# write here:
number=int(input("Insert Your Number: "))
if number>=10 and number<=20:
    print("Range")
else:
    print("Out Of Range!")

Range

In [32]:
# write here:
number1=int(input("Insert Your Number: "))
number2=int(input("Insert Your Number: "))
sum=number1+number2
if sum>20:
    print("Greater")
else:
    print("Not Greater")

Not Greater

In [48]:
# write here:
color1=input("Inser Color1: ")
color2=input("Insert Color2: ")
color3=input("Insert Color3:")
if color1==color2 and color1==color3:
    print("All colors match")
elif color1==color3 or color1==color2:
    print("Two colors match")
elif color1==color3 or color2==color3:
    print("Two colors match")
elif color2==color3 or color1==color2:
    print("Two colors match")
else:
    print("No colors match")

No colors match

In [138]:
# write here:
num1=0
num2=76
typ1=type(num1)
typ2=type(num2)
if typ1==type(" ") and typ2==type(" "):
    print(num1+num2)
elif typ1==type(2) and typ2==type(2.5) and num1 !=0:
    print(num2/num1)
elif typ1==type(2.5) and typ2==type(2) and num2 !=0:
    print(num1/num2)
elif  typ1==type(2.5) and num2 ==0:
    print("Cannot divide by zero") 
elif  typ1==type(2) and num2 ==0:
    print("Cannot divide by zero")
elif  typ2==type(2) and num1 ==0:
    print("Cannot divide by zero")   
elif  typ2==type(2.5) and num1 ==0:
    print("Cannot divide by zero")
elif typ1==type(2) and typ2==type(2):
    print(num2-num1)
else:
    print("Invalid Syntax")

Cannot divide by zero